@import "tailwindcss";
@import "./theme/plugins.css";
  @import "./theme/theme.css";

.editor-styles-wrapper{
  @import "./base/typography.css";
  @import "./layout/layout.css";
  @import "./layout/sections.css";
  @import "./components/careers-gallery.css";
}
/*
  @import "./theme/theme-dark.css";


  @import "./base/base.css";
  @import-glob "./base/**";

  @import-glob "./layout/**";

  @import-glob "./components/**";



  @import "./vendor/slick.css";
  @import "./vendor/slick-theme.css";

  @import-glob "./utilities/**";

 */


html :where(.editor-styles-wrapper) {
  font-family:var(--font-sans);
  font-size:var(--text-base);
  .wp-block-post-title{
    @apply !mb-8;
  }
}

