@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@plugin "daisyui" {
  themes: light --default, abyss --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: false;
}
