

.btn{
  @apply no-underline;
  @apply px-[var(--button-padding-x)] py-[var(--button-padding-y)] my-2;
  @apply text-[var(--button-default-font-size)];
  @apply border-[var(--border)] border-solid;
  @apply rounded-[var(--radius-field)];

  @apply text-[var(--btn-color)];
  @apply bg-[var(--btn-bg)];

  @apply hover:text-[var(--btn-color-hover)];
  @apply hover:bg-[var(--btn-bg-hover)];

  @apply transition-colors;
  /* @apply hover:bg-primary-content hover:text-white; */
  /* &[disabled]{
    @apply opacity-50 hover:bg-primary hover:text-inherit;
  } */

   /* Buttons with white text should have a border that matches their background color */
   &.btn-primary,&.btn-error{
    &:not(.btn-outline){
      @apply border-[var(--btn-bg)];
    }
   }
   &.btn-primary{
    @apply hover:text-primary-content;
   }
   &.btn-error{
    @apply hover:text-error-content;
   }
   /* outline colors shoud have dark text, only the outline is colored*/
   &.btn-outline{
    @apply text-base-content;

   }
}



  /* padding-inline: var(--btn-p);
  color: var(--btn-fg);
  --tw-prose-links: var(--btn-fg);
  height: var(--size);
  font-size: var(--fontsize, 0.875rem);
  outline-color: var(--btn-color, var(--color-base-content));
  border-width: var(--border);
  border-color: var(--btn-border); */