.careers-gallery{
  @apply flex! justify-center z-1 flex-wrap!;
  --gap: 1.8vw;

  gap: var(--gap);

  &.columns-4:not(.block-editor-block-list__block) .career-modal,
  &.columns-4 .acf-block-component{
    width: calc(25% - var(--gap) * .75);
  }
  &.columns-3:not(.block-editor-block-list__block) .career-modal,
  &.columns-3 .acf-block-component{
    width: calc(33.33333% - var(--gap) * .66667);
  }
  &.columns-2:not(.block-editor-block-list__block) .career-modal,
  &.columns-2 .acf-block-component{
    width: calc(50% - var(--gap) * .50);
  }

  @apply max-xs:block!;
  .career-modal{
    @apply max-xs:w-full! mb-4 ;
  }

}
