
.nav-wrapper{
  @apply text-[clamp(1.25rem,1.5rem)];
  @apply bg-primary/90 dark:bg-[#5C43B6]/90;
  @apply right-0 left-0 ;
  @apply text-left overflow-hidden;
  @apply max-h-0;
  @apply fixed;
  transition:all 0.5s ease-in-out;
  &.open{
    @apply max-h-screen md:max-h-[500px];
    /* @apply block; */
  }
  .container{
    @apply py-10 ;
  }
  .nav-wrapper-inner{
    @apply relative flex flex-col items-start justify-end gap-x-8 min-[520px]:flex-row;
  }
  ul{
    @apply pl-0 my-0;
    li{
      @apply mb-0 list-none ;
      &.current-menu-item, &.current_page_item { /*, &.current-menu-ancestor, &.current-menu-parent */
        > a:not([href^="/#"]), > button{
          @apply text-accent dark:text-white;
        }
      }
      a{
        @apply no-underline;
        @apply text-primary-content hover:text-accent dark:hover:text-white ;
      }

    }
  }
  .nav-wrapper-inner > ul{
    @apply flex flex-col items-start text-primary-content;
    > li{
      > a{

      }
      &.menu-item-has-children{
        a, button.nav-link{
          white-space: normal;
          text-align: left;
        }
      }
      border-bottom-style:solid;
    }

    a {
      @apply text-inherit w-full;
      @apply focus:underline focus:outline-none;
    }
    button.nav-link, a {
      font-size:inherit;
      @apply block px-4;
      @apply py-[clamp(7px,15px)];
    }
    ul.sub-menu{
      font-size: clamp(1rem,1rem);
      @apply ml-4 min-[520px]:ml-0;
      a{
        @apply py-[clamp(5px,11px)];
      }

    }


    button.nav-link{
      @apply !pr-0;
    }
    button.nav-link,
    > li > a {
      @apply bg-transparent border-none;
      /* @apply hover:bg-accent hover:text-base-content; */
    }
    button.nav-link,
    > li > a,
    .arrow{
      @apply focus:outline-primary focus:outline-4;
    }
  }
}
/* END COLORS, FONTS, PADDING and BORDERS  */


/* MOBILE HAMBURGER TOGGLE */
.mobile-menu-toggle{
  .hamburger > div{ transition:all 0.2s ease-in-out; }
  &[aria-expanded="true"]{
    .hamburger{
      > div:nth-child(1){
        transform: rotate(45deg) translateY(7px) translateX(7px);
      }
      > div:nth-child(3){
        transform: rotate(-45deg) translateY(-7px) translateX(7px);
      }
      > div:nth-child(2){
        opacity:0;
      }
    }
  }
}
/* END MOBILE TOGGLE */












/* Some styling of individual navigations */

footer nav{
  ul{
    @apply p-0 m-0;
  }
  a{
    @apply block py-1;
  }
}


/* Scroll up/down styles */
.logo,
header#pageHeader > .container,
.nav-wrapper > ul a{ transition:all 0.2s ease-in-out; }

header .logo{
  @apply overflow-hidden items-end;
  /* transition-duration: 1s; */
  max-height: 8rem;
}

body.scrolled{

  header .logo{
    max-height: 1.2rem;
    overflow: hidden;
    align-items: flex-end;
  }
  header#pageHeader > .container{
    @apply py-2;
  }
}


header#pageHeader {
  transition: transform 0.5s ease-in-out;
  transform: translateY(0%);
}
body.scrolling-down{
  header#pageHeader {
    transform: translateY(-100%);
  }
}