body, .has-base-font-size {
  font-size:var(--text-base);
  font-family:var(--font-sans);
  @apply leading-[1.75];
}
a{
  @apply underline text-accent;
}

h1, h2, h3, h4, h5, b, strong, .h1, .h2, .h3, .h4, .h5{
  font-weight: 400;
}
b, strong{
  @apply font-bold;
}

h1, h2, h3, h4, h5{
  @apply font-headline ;
}

h1:not(.wp-block-post-title), .h1 {
  @apply text-5xl;
  @apply my-[clamp(2,6)];
}


h2, .h2 {
  @apply text-3xl;
  @apply my-[clamp(2,6)];
}

h3, .h3 {
  @apply text-2xl;
  @apply my-[clamp(2,6)];
}
h4, .h4 {
  @apply text-xl;
  @apply my-[clamp(2,6)];
}
h5, .h5, .has-h-5-font-size {
  @apply text-lg;
  @apply my-5;
}

p{
  @apply my-5;
}
small, .has-small-font-size{
  @apply text-sm;
}


p, h1, h2, h3, h4, h5, h6, .p, .h1, .h2, .h3, .h4, .h5, .h6{
  &:first-child{
    @apply mt-0;
  }
  &:last-child{
    @apply mb-[var(--margin-bottom)];
  }
}
blockquote{
  @apply not-italic;
  footer{
    @apply text-right italic;
    &:before{
      @apply content-['~'] inline-block mr-2;
    }
  }
}


/* Line Heights */
h1, .h1{
}
h2, .h2, .has-3-xl-font-size{
  line-height: var(--text-3xl--line-height);

}
h3, .h3, .has-2-xl-font-size{
}

