.gift-cards {
    /* --testimonial-font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;
    --testimonial-font-size: 1.5rem;
    --testimonial-spacing: 0.5rem; */
}

.gift-cards {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
